header.header
  .header__wrapper.container
    .row
      .col-md-4
        h1 Brand
      .col-md-8
        nav
          ul
            li
              a(href="/#/home") Home
            li
              a(href="/#/poop") About
            li
              a(href="/#/jizzinmymoney") Faq
            li
              a.btn.btn-success Sign in              
            li
              a(style="font-size: 42px; font-weight: 100") |
            li
              a.btn.btn-primary Sign up